include CHANGELOG.md
include LICENSE.md
include README.md
include unvcf/test/data/convert.gt.vcf
include unvcf/test/data/gvcf.merge.1.vcf
include unvcf/test/data/annots9.vcf
include unvcf/test/data/ref.vcf
include unvcf/test/data/concat.2.a.vcf
include unvcf/test/data/filter.1.vcf
include unvcf/test/data/norm.merge.vcf
include unvcf/test/data/view.GP.vcf
include unvcf/test/data/merge.2.b.vcf
include unvcf/test/data/convert.vcf
include unvcf/test/data/setGT.vcf
include unvcf/test/data/view.PL.vcf
include unvcf/test/data/annots.vcf
include unvcf/test/data/fixploidy.vcf
include unvcf/test/data/gvcf.merge.2.vcf
include unvcf/test/data/consensus.vcf
include unvcf/test/data/filter.3.vcf
include unvcf/test/data/consensus2.vcf
include unvcf/test/data/af-dist.vcf
include unvcf/test/data/concat.2.b.vcf
include unvcf/test/data/fill-tags-hemi.vcf
include unvcf/test/data/filter.2.vcf
include unvcf/test/data/missing.vcf
include unvcf/test/data/mpileup.vcf
include unvcf/test/data/gvcf.merge.3.vcf
include unvcf/test/data/merge.2.a.vcf
include unvcf/test/data/regions.vcf
include unvcf/test/data/query.vcf
include unvcf/test/data/merge.gvcf.2.b.vcf
include unvcf/test/data/merge.4.b.vcf
include unvcf/test/data/merge.gvcf.2.c.vcf
include unvcf/test/data/query.filter.vcf
include unvcf/test/data/csq.vcf
include unvcf/test/data/view.GT.vcf
include unvcf/test/data/merge.gvcf.2.a.vcf
include unvcf/test/data/view.chrs.vcf
include unvcf/test/data/merge.4.a.vcf
include unvcf/test/data/norm.telomere.vcf
include unvcf/test/data/filter.4.vcf
include unvcf/test/data/mpileup.X.vcf
include unvcf/test/data/annotate.vcf
include unvcf/test/data/concat.3.c.vcf
include unvcf/test/data/annotate2.vcf
include unvcf/test/data/view.vectors.vcf
include unvcf/test/data/sort.vcf
include unvcf/test/data/mpileup.c.X.vcf
include unvcf/test/data/concat.1.a.vcf
include unvcf/test/data/view.vcf
include unvcf/test/data/merge.c.vcf
include unvcf/test/data/merge.3.a.vcf
include unvcf/test/data/merge.b.vcf
include unvcf/test/data/stats.b.vcf
include unvcf/test/data/view.omitgenotypes.vcf
include unvcf/test/data/annotate3.vcf
include unvcf/test/data/concat.3.b.vcf
include unvcf/test/data/convert.23andme.vcf
include unvcf/test/data/concat.1.b.vcf
include unvcf/test/data/reheader.vcf
include unvcf/test/data/many.alleles.vcf
include unvcf/test/data/plugin-missing2ref.out.vcf
include unvcf/test/data/view.minmaxac.vcf
include unvcf/test/data/norm.vcf
include unvcf/test/data/merge.3.b.vcf
include unvcf/test/data/merge.a.vcf
include unvcf/test/data/convert.gvcf.vcf
include unvcf/test/data/stats.a.vcf
include unvcf/test/data/concat.3.a.vcf
include unvcf/test/data/annotate4.vcf
include unvcf/test/data/merge.gvcf.3.a.vcf
include unvcf/test/data/concat.3.e.vcf
include unvcf/test/data/norm.split.2.vcf
include unvcf/test/data/norm.setref.vcf
include unvcf/test/data/ex2.vcf
include unvcf/test/data/merge.5.a.vcf
include unvcf/test/data/concat.3.d.vcf
include unvcf/test/data/concat.3.0.vcf
include unvcf/test/data/merge.gvcf.3.b.vcf
include unvcf/test/data/concat.3.f.vcf
include unvcf/test/data/query.filter-type.vcf
include unvcf/test/data/norm.split.vcf
include unvcf/test/data/fixref.vcf
include unvcf/test/data/query.filter.2.vcf
include unvcf/test/data/merge.5.b.vcf
include unvcf/test/data/stats.counts.vcf
include unvcf/test/data/mendelian.vcf
include unvcf/test/data/trio.vcf
include unvcf/test/data/filter-missing-floats.vcf
include unvcf/test/data/plugin1.vcf
include unvcf/test/data/annotate9.vcf
include unvcf/test/data/isec.a.vcf
include unvcf/test/data/view.filter.annovar.vcf
include unvcf/test/data/empty.vcf
include unvcf/test/data/query.2.vcf
include unvcf/test/data/isec.b.vcf
include unvcf/test/data/ad-bias.vcf
include unvcf/test/data/aa.vcf
include unvcf/test/data/fixref.2a.vcf
include unvcf/test/data/mpileup.c.vcf
include unvcf/test/data/view.GL.vcf
include unvcf/test/data/fixref.2b.vcf
include unvcf/test/data/annots2.vcf
include unvcf/test/data/view.filter.vcf
include unvcf/test/data/large_chrom_csi_limit.vcf
include unvcf/test/data/norm.merge.2.vcf
include unvcf/test/data/check.vcf
include unvcf/test/data/norm.merge.3.vcf
include unvcf/test/data/vcf2sex.vcf
include unvcf/test/data/idx.vcf
include unvcf/test/data/plugin-missing2ref.vcf
include unvcf/test/data/annots4.vcf
include unvcf/test/data/annotate10.vcf
include unvcf/test/data/region.vcf.gz
include unvcf/test/data/view.vectors.2.vcf
include unvcf/test/data/CEU.exon.2010_03.genotypes.vcf.bz2
